Flowzenai.json
{
  "name": "Flowzenai",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "90261d9b-9046-493c-9edc-c4fc775a1ec7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "fPmlAtyQa3616Sb8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "d106ebdc-931b-42b5-a96c-dbdc2c2f2736",
      "name": "Get a message",
      "webhookId": "a2ab17d8-d564-4af7-8ed7-67bf19a600ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "fPmlAtyQa3616Sb8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/classify-ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "8cc46b7f-d208-4c26-9bf0-45ad07526302",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/tickets",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "=category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "department",
              "value": "={{ $json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "d5309d07-236f-4a67-a63d-89c688b9bc0f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Ticket {{$json.ticketId}} Assigned – {{$json.ticket.priority}} Priority",
        "message": "=Hi,  Your support ticket has been successfully created.  Ticket ID: {{$json.ticketId}} Priority: {{$json.ticket.priority}} Category: {{$json.ticket.category}}  An IT support agent has been assigned to your request.  Assigned To: Name: {{$json.assignedTo.name}} Department: {{$json.assignedTo.department}}  The assigned agent will contact you shortly.  Thank you, IT Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "eed4356b-2286-449b-a2a2-0adab94d3f84",
      "name": "Send a message",
      "webhookId": "f47fcf04-0ae5-475a-9cdf-9d2c7606a879",
      "credentials": {
        "gmailOAuth2": {
          "id": "fPmlAtyQa3616Sb8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45c3a2b7-4290-4ddc-92fc-858ef57d7a53",
              "leftValue": "={{ $json.assignedToAgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "4d4de8a6-e210-4cc5-a859-ac8bec3dda15",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Ticket {{$json.ticketId}} – Automated Resolution",
        "message": "=Hi,  Your support request has been received.  Ticket ID: {{$json.ticketId}} Priority: {{$json.priority}}  Our system analyzed your issue and provided the following solution:  <br><br> {{$json.solution}} <br><br>  {{$json.message}}  If the issue persists, please reply to this email and our support team will assist you further.  Thank you, IT Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        256
      ],
      "id": "6d47b2e7-a1ba-4515-93ea-2329e99f2621",
      "name": "Send a message1",
      "webhookId": "06a49c35-803b-4e2f-840d-29888ff7c9c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "fPmlAtyQa3616Sb8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1263a5d-442d-4685-bcaa-5bc792c0db1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72f4b033f8a86d74897891c71350ba59c6b862b0f396fb424daea3b0f1d4d68a"
  },
  "id": "MLOR39tanoHEHJyM",
  "tags": []
}